*{

margin: 0;
padding: 0;

}
body{
    background: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 50px;
}
.container1{
    height: 50px;
    line-height: 70px;
    width: 1903px;
    color: #1C1C1C;
    background-color: #12412a;
    line-height: 22px;
    position: relative;
    display: block;
}
.contact-box{
    background: #fff;
    display: flex;

}
.contact-left{
    flex-basis: 40%;
    padding: 40px 60px;
    background: #F5F9F7;

}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #F5F9F7;
}

h1{
    margin-bottom: 10px;


font-size: 28px;

}

.container p{
    margin-bottom: 40px;
}

.input-row{
    margin-bottom: 20px;
    justify-content: space-between;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    height: 42px;
    width: 454.812px;
    margin: 10px 0 0 0;
    background-color: #FFFFFF;
    color: #1C1C1C;
    border-top: 1px solid #dadada;
    border-right: 1px solid #DADADA;
    border-bottom: 2px solid #008a00;
    border-left: 1px solid #dadada;
    outline: rgb(28, 28, 28)none 0px;
    padding-bottom: 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    cursor: text;
    box-sizing: border-box;
    padding: 0 15px 2px 15px;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1C1C1C;
}
button{
    background: #007C16;
    width: 252.797px;
    height: 42px;
    border: 1px solid #008a00;
    padding: 8px 8px 8px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    height: 35px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0s ease 0s;
    background-position: 0% 0%;
    position: relative;
    display: block;
    cursor: pointer; 
    transform: none;
    -webkit-text-fill-color: #F5F9F7;
    
    
}
p2{
    color: #03842A;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none solid rgb(3, 130, 3);
    word-spacing: 0px;
    padding: 15px;
    height: auto;
    width:auto;
    cursor: pointer;
    display: inline;
    position: relative;
    box-sizing: border-box;
    line-height: 22px;
    margin-bottom: 69px;
    line-height: 70px;
    margin-top: 43;
}
.contact-left h3{
    color: #1A5336;
    
}

img{

    vertical-align: middle;
    text-align: middle;
    overflow: clip;
    cursor: pointer;
    height: 43px;
    width: 49px;
    display: inline;
    text-decoration: none solid rgb(3, 130, 3);
    line-height: 0px;
    font-size: 0px;
    margin-top: 3px;
    margin-left: 10px;

}